:root {
   /* $ Tokens */

   /* ~ Shape */
   --st-rounded-none: 0px;
   --st-rounded-sm: 0.125rem;
   --st-rounded: 0.25rem;
   --st-rounded-md: 0.375rem;
   --st-rounded-lg: 0.5rem;
   --st-rounded-xl: 0.75rem;
   --st-rounded-2xl: 1rem;
   --st-rounded-full: 9999px;

   /* ~ Typography */
   --st-text-xs: 0.75rem;
   --st-text-sm: 0.875rem;
   --st-text-base: 1rem;
   --st-text-lg: 1.125rem;
   --st-text-xl: 1.25rem;
   --st-text-2xl: 1.5rem;
   --st-text-3xl: 1.875rem;
   --st-text-4xl: 2.25rem;
   --st-text-5xl: 3rem;
   --st-text-6xl: 3.75rem;

   --st-leading-3: 0.75rem;
   --st-leading-4: 1rem;
   --st-leading-5: 1.25rem;
   --st-leading-6: 1.5rem;
   --st-leading-7: 1.75rem;
   --st-leading-8: 2rem;
   --st-leading-9: 2.25rem;
   --st-leading-10: 2.5rem;

   --st-tracking-tighter: -0.05em;
   --st-tracking-tight: -0.025em;
   --st-tracking-normal: 0em;
   --st-tracking-wide: 0.025em;
   --st-tracking-wider: 0.05em;
   --st-tracking-widest: 0.1em;

   --st-font-normal: 400;
   --st-font-medium: 500;
   --st-font-semibold: 600;
   --st-font-bold: 700;
   --st-font-extrabold: 800;
   --st-font-black: 900;

   --st-font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';


   /* ~ Elevation */
   --st-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
   --st-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --st-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --st-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
   --st-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
   --st-shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

   /* ~ Spacing & Size */
   /** Spacing */
   --st-space-xs: 0.25rem;
   --st-space-sm: 0.5rem;
   --st-space-md: 1rem;
   --st-space-lg: 1.5rem;
   --st-space-xl: 2.5rem;

   /** Size */
   --st-size-xs: 1.5rem;
   --st-size-sm: 1.875rem;
   --st-size-md: 2.125rem;
   --st-size-lg: 2.5rem;
   --st-size-xl: 3.25rem;

   --st-content-xs: 20rem;
   --st-content-sm: 24rem;
   --st-content-md: 28rem;
   --st-content-lg: 32rem;
   --st-content-xl: 36rem;
   --st-content-2xl: 42rem;
   --st-content-3xl: 48rem;
   --st-content-4xl: 56rem;
   --st-content-5xl: 64rem;
   --st-content-6xl: 72rem;
   --st-content-7xl: 80rem;

   --st-screen-sm: 640px;
   --st-screen-md: 768px;
   --st-screen-lg: 1024px;
   --st-screen-xl: 1280px;
   --st-screen-2xl: 1536px;

   /* ~Utils */
   --st-seperator-color: var(--st-contrast-10pct);
   --st-focus-outline: 2px solid var(--st-primary-color-50pct);


   /*~Components */
   /** Fields */
   --st-field-bg-color: transparent;
   --st-field-font-weight: var(--st-font-medium);
   --st-field-border-color: var(--st-contrast-20pct);
   --st-field-border-radius: var(--st-rounded);
   --st-field-border-width: 1px;
   --st-field-hover-bg-color: transparent;
   --st-field-hover-border-color: var(--st-contrast-30pct);
   --st-field-focus-bg-color: transparent;
   --st-field-focus-border-color: var(--st-primary-color-50pct);
   --st-field-disabled-border-color: var(--st-contrast-10pct);
   --st-field-disabled-color: var(--st-tertiary-text-color);
   --st-field-placeholder-color: var(--st-secondary-text-color);

   --st-grid-head-bg-color: hsl(var(--st-grayscale-hue), 65%, 99%);

   /* ~ Colors */
   /* default: 214 */

   /* * Base*/
   --st-base-color: hsl(var(--st-base-hue), 0%, 100%);
   --st-secondary-base-color: hsla(var(--st-base-hue), 20%, 98%, .8);

   /* *Greayscale */
   --st-shade-2pct: hsla(var(--st-grayscale-hue), 61%, 25%, 0.02);
   --st-shade-5pct: hsla(var(--st-grayscale-hue), 61%, 25%, 0.05);
   --st-shade-10pct: hsla(var(--st-grayscale-hue), 57%, 24%, 0.1);
   --st-shade-20pct: hsla(var(--st-grayscale-hue), 53%, 23%, 0.16);
   --st-shade-30pct: hsla(var(--st-grayscale-hue), 50%, 22%, 0.26);
   --st-shade-40pct: hsla(var(--st-grayscale-hue), 47%, 21%, 0.38);
   --st-shade-50pct: hsla(var(--st-grayscale-hue), 45%, 20%, 0.52);
   --st-shade-60pct: hsla(var(--st-grayscale-hue), 43%, 19%, 0.6);
   --st-shade-70pct: hsla(var(--st-grayscale-hue), 42%, 18%, 0.69);
   --st-shade-80pct: hsla(var(--st-grayscale-hue), 41%, 17%, 0.83);
   --st-shade-90pct: hsla(var(--st-grayscale-hue), 40%, 16%, 0.94);
   --st-shade: hsl(var(--st-grayscale-hue), 35%, 15%);

   --st-tint-2pct: hsla(var(--st-grayscale-hue), 65%, 85%, 0.03);
   --st-tint-5pct: hsla(var(--st-grayscale-hue), 65%, 85%, 0.06);
   --st-tint-10pct: hsla(var(--st-grayscale-hue), 60%, 80%, 0.14);
   --st-tint-20pct: hsla(var(--st-grayscale-hue), 64%, 82%, 0.23);
   --st-tint-30pct: hsla(var(--st-grayscale-hue), 69%, 84%, 0.32);
   --st-tint-40pct: hsla(var(--st-grayscale-hue), 73%, 86%, 0.41);
   --st-tint-50pct: hsla(var(--st-grayscale-hue), 78%, 88%, 0.5);
   --st-tint-60pct: hsla(var(--st-grayscale-hue), 82%, 90%, 0.58);
   --st-tint-70pct: hsla(var(--st-grayscale-hue), 87%, 92%, 0.69);
   --st-tint-80pct: hsla(var(--st-grayscale-hue), 91%, 94%, 0.8);
   --st-tint-90pct: hsla(var(--st-grayscale-hue), 96%, 96%, 0.9);
   --st-tint: hsl(var(--st-grayscale-hue), 100%, 98%);

   --st-contrast-2pct: var(--st-shade-2pct);
   --st-contrast-5pct: var(--st-shade-5pct);
   --st-contrast-10pct: var(--st-shade-10pct);
   --st-contrast-20pct: var(--st-shade-20pct);
   --st-contrast-30pct: var(--st-shade-30pct);
   --st-contrast-40pct: var(--st-shade-40pct);
   --st-contrast-50pct: var(--st-shade-50pct);
   --st-contrast-60pct: var(--st-shade-60pct);
   --st-contrast-70pct: var(--st-shade-70pct);
   --st-contrast-80pct: var(--st-shade-80pct);
   --st-contrast-90pct: var(--st-shade-90pct);
   --st-contrast: var(--st-shade);

   /* *Text */
   --st-header-text-color: hsl(var(--st-text-hue), 35%, 15%);
   --st-body-text-color: hsla(var(--st-text-hue), 40%, 16%, 0.94);
   --st-secondary-text-color: hsla(var(--st-text-hue), 42%, 18%, 0.69);
   --st-tertiary-text-color: hsla(var(--st-text-hue), 45%, 20%, 0.52);
   --st-disabled-text-color: hsla(var(--st-text-hue), 50%, 22%, 0.26);

   /* *Primary */
   --st-primary-color-2pct: hsla(var(--st-primary-hue), 100%, 65%, 0.03);
   --st-primary-color-5pct: hsla(var(--st-primary-hue), 100%, 65%, 0.07);
   --st-primary-color-10pct: hsla(var(--st-primary-hue), 100%, 60%, 0.13);
   --st-primary-color-50pct: hsla(var(--st-primary-hue), 100%, 49%, 0.60);
   /* --st-primary-color: hsl(var(--st-primary), 100%, 48%); */
   --st-primary-color: hsl(var(--st-primary-hue), 90%, 59%);
   --st-primary-text-color: hsl(var(--st-primary-hue), 100%, 43%);
   --st-primary-contrast-color: #fff;

   /* *Red */
   --st-red-color-5pct: hsla(3, 85%, 49%, 0.05);
   --st-red-color-10pct: hsla(3, 85%, 49%, 0.1);
   --st-red-color-50pct: hsla(3, 85%, 49%, 0.5);
   --st-red-color: hsl(3, 85%, 48%);
   --st-red-text-color: hsl(3, 89%, 42%);
   --st-red-contrast-color: #fff;

   /* *Green */
   --st-green-color-10pct: hsla(160, 84%, 39%, 0.1);
   --st-green-color-50pct: hsla(160, 84%, 39%, 0.5);
   --st-green-color: hsl(160, 84%, 39%);
   --st-green-text-color: hsl(161, 85%, 25%);
   --st-green-contrast-color: #fff;

   /* *Blue */
   --st-blue-color-10pct: hsla(214, 100%, 60%, 0.13);
   --st-blue-color-50pct: hsla(214, 100%, 49%, 0.76);
   --st-blue-color: hsl(214, 100%, 48%);
   --st-blue-text-color: hsl(214, 100%, 43%);
   --st-blue-contrast-color: #fff;

   /* *Yellow */
   --st-yellow-color-10pct: hsla(43, 100%, 60%, 0.13);
   --st-yellow-color-50pct: hsla(43, 100%, 49%, 0.76);
   --st-yellow-color: hsl(43, 100%, 48%);
   --st-yellow-text-color: hsl(43, 100%, 43%);
   --st-yellow-contrast-color: #fff;

   /* *Pink */
   --st-pink-color-10pct: hsla(330, 85%, 49%, 0.1);
   --st-pink-color-50pct: hsla(330, 85%, 49%, 0.5);
   --st-pink-color: hsl(330, 85%, 48%);
   --st-pink-text-color: hsl(330, 89%, 42%);
   --st-pink-contrast-color: #fff;

   /* *Purple */
   --st-purple-color-10pct: hsla(262, 100%, 60%, 0.13);
   --st-purple-color-50pct: hsla(262, 100%, 49%, 0.76);
   --st-purple-color: hsl(262, 100%, 48%);
   --st-purple-text-color: hsl(262, 100%, 43%);
   --st-purple-contrast-color: #fff;

   /* *Indigo */
   --st-indigo-color-10pct: hsla(243, 75%, 59%, 0.13);
   --st-indigo-color-50pct: hsla(243, 75%, 59%, 0.60);
   --st-indigo-color: hsl(243, 75%, 59%);
   --st-indigo-text-color: hsl(243, 58%, 51%);
   --st-indigo-contrast-color: #fff;

   /* *Teal */
   --st-teal-color-10pct: hsla(175, 100%, 60%, 0.13);
   --st-teal-color-50pct: hsla(175, 100%, 49%, 0.76);
   --st-teal-color: hsl(175, 100%, 48%);
   --st-teal-text-color: hsl(175, 100%, 43%);
   --st-teal-contrast-color: #fff;

   /* *Success */
   --st-success-color-10pct: var(--st-green-color-10pct);
   --st-success-color-50pct: var(--st-green-color-50pct);
   --st-success-color: var(--st-green-color);
   --st-success-text-color: var(--st-green-text-color);
   --st-success-contrast-color: var(--st-green-contrast-color);

   /* *Error */
   --st-error-color-5pct: var(--st-red-color-5pct);
   --st-error-color-10pct: var(--st-red-color-10pct);
   --st-error-color-50pct: var(--st-red-color-50pct);
   --st-error-color: var(--st-red-color);
   --st-error-text-color: var(--st-red-text-color);
   --st-error-contrast-color: var(--st-red-contrast-color);

   /* *Warning */
   --st-warning-color-10pct: var(--st-yellow-color-10pct);
   --st-warning-color-50pct: var(--st-yellow-color-50pct);
   --st-warning-color: var(--st-yellow-color);
   --st-warning-text-color: var(--st-yellow-text-color);
   --st-warning-contrast-color: var(--st-yellow-contrast-color);

   /* *Info */
   --st-info-color-10pct: var(--st-blue-color-10pct);
   --st-info-color-50pct: var(--st-blue-color-50pct);
   --st-info-color: var(--st-blue-color);
   --st-info-text-color: var(--st-blue-text-color);
   --st-info-contrast-color: var(--st-blue-contrast-color);
}

html[class="dark"] {
   /* * Base*/
   --st-base-color: hsl(var(--st-base-hue), 18%, 11%);
   --st-secondary-base-color: hsl(var(--st-base-hue), 27%, 6%);

   /* *Greayscale */
   --st-contrast-2pct: var(--st-tint-2pct);
   --st-contrast-5pct: var(--st-tint-5pct);
   --st-contrast-10pct: var(--st-tint-10pct);
   --st-contrast-20pct: var(--st-tint-20pct);
   --st-contrast-30pct: var(--st-tint-30pct);
   --st-contrast-40pct: var(--st-tint-40pct);
   --st-contrast-50pct: var(--st-tint-50pct);
   --st-contrast-60pct: var(--st-tint-60pct);
   --st-contrast-70pct: var(--st-tint-70pct);
   --st-contrast-80pct: var(--st-tint-80pct);
   --st-contrast-90pct: var(--st-tint-90pct);
   --st-contrast: var(--st-tint);

   /* *Text */
   --st-header-text-color: hsl(var(--st-text-hue), 100%, 98%);
   --st-body-text-color: hsla(var(--st-text-hue), 96%, 96%, 0.9);
   --st-secondary-text-color: hsla(var(--st-text-hue), 87%, 92%, 0.69);
   --st-tertiary-text-color: hsla(var(--st-text-hue), 78%, 88%, 0.5);
   --st-disabled-text-color: hsla(var(--st-text-hue), 69%, 84%, 0.32);

   /* * Primary */
   --st-primary-color-2pct: hsla(var(--st-primary-hue), 90%, 75%, 0.03);
   --st-primary-color-5pct: hsla(var(--st-primary-hue), 90%, 75%, 0.07);
   --st-primary-color-10pct: hsla(var(--st-primary-hue), 90%, 75%, 0.13);
   --st-primary-color-50pct: hsla(var(--st-primary-hue), 90%, 70%, 0.69);
   --st-primary-color: hsl(var(--st-primary-hue), 75%, 59%);
   --st-primary-text-color: hsl(var(--st-primary-hue), 90%, 80%);
   --st-primary-contrast-color: #fff;

   /* *Red */
   --st-red-color-5pct: hsla(3, 75%, 62%, 0.05);
   --st-red-color-10pct: hsla(3, 75%, 62%, 0.14);
   --st-red-color-50pct: hsla(3, 75%, 62%, 0.5);
   --st-red-color: hsl(3, 79%, 49%);
   --st-red-text-color: hsl(3, 100%, 80%);
   --st-red-contrast-color: #fff;

   /* *Green */
   --st-green-color-10pct: hsla(145, 92%, 51%, 0.1);
   --st-green-color-50pct: hsla(145, 92%, 51%, 0.5);
   --st-green-color: hsl(145, 72%, 30%);
   --st-green-text-color: hsl(145, 64%, 52%);
   --st-green-contrast-color: #fff;


   /* *Blue */
   --st-blue-color-10pct: hsla(214, 90%, 55%, 0.13);
   --st-blue-color-50pct: hsla(214, 90%, 70%, 0.69);
   --st-blue-color: hsl(214, 90%, 48%);
   --st-blue-text-color: hsl(214, 90%, 77%);
   --st-blue-contrast-color: #fff;

   /* *Yellow */
   --st-yellow-color-10pct: hsla(43, 90%, 55%, 0.13);
   --st-yellow-color-50pct: hsla(43, 90%, 70%, 0.69);
   --st-yellow-color: hsl(43, 90%, 48%);
   --st-yellow-text-color: hsl(43, 90%, 77%);
   --st-yellow-contrast-color: #fff;

   /* *Pink */
   --st-pink-color-10pct: hsla(330, 75%, 62%, 0.14);
   --st-pink-color-50pct: hsla(330, 75%, 62%, 0.5);
   --st-pink-color: hsl(330, 79%, 49%);
   --st-pink-text-color: hsl(330, 100%, 80%);
   --st-pink-contrast-color: #fff;

   /* *Purple */
   --st-purple-color-10pct: hsla(262, 90%, 55%, 0.13);
   --st-purple-color-50pct: hsla(262, 90%, 70%, 0.69);
   --st-purple-color: hsl(262, 90%, 48%);
   --st-purple-text-color: hsl(262, 90%, 77%);
   --st-purple-contrast-color: #fff;

   /* *Indigo */
   --st-indigo-color-10pct: hsla(245, 90%, 55%, 0.13);
   --st-indigo-color-50pct: hsla(245, 90%, 70%, 0.69);
   --st-indigo-color: hsl(245, 90%, 48%);
   --st-indigo-text-color: hsl(245, 90%, 77%);
   --st-indigo-contrast-color: #fff;

   /* *Teal */
   --st-teal-color-10pct: hsla(175, 90%, 55%, 0.13);
   --st-teal-color-50pct: hsla(175, 90%, 70%, 0.69);
   --st-teal-color: hsl(175, 90%, 48%);
   --st-teal-text-color: hsl(175, 90%, 77%);
   --st-teal-contrast-color: #fff;

   /* ~Components */
   --st-grid-head-bg-color: hsl(var(--st-grayscale-hue), 19%, 13%);
}

html {
   font-family: var(--st-font-family);
}

body {
   background-color: var(--st-secondary-base-color);
}

body,
#outlet {
   height: 100vh;
   width: 100%;
   margin: 0;
   overflow: hidden;
}

h1 {
   color: var(--st-body-text-color);
   font-size: var(--st-text-4xl) !important;
   font-weight: var(--st-font-semibold) !important;
}