.prose p {
	color: var(--st-colors-light5);
}
.prose h1 {
	color: #fff;
}
.prose h2 {
	color: var(--st-colors-gray3);
	font-weight: 500;
}
.prose h3 {
	color: var(--st-colors-gray5);
	font-weight: 500;
}
.prose h4 {
	color: var(--st-colors-gray6);
}
.prose a {
	color: var(--st-colors-primary3);
}
.prose code {
	color: var(--st-colors-primary3);
	background-color: rgba(49, 46, 129, 0.4);
	padding: 0.2rem 0.4rem;
	border-radius: var(--st-border-radius-sm);
}
.prose code[hl],
.prose code[data-hl] {
	color: var(--st-colors-gray5);
	background-color: var(--st-colors-dark6);
	font-weight: var(--st-font-weight-normal);
}
.prose code[data-hl][data-tag] {
	line-height: 1.4;
}

.prose code::before,
.prose code::after {
	content: '';
}
.prose blockquote {
	color: var(--st-colors-primary3);
}
.prose th {
	color: var(--st-colors-gray6);
}
.prose td {
	color: var(--st-colors-gray5);
	/* display: flex; */
	/* align-items: center; */
}
.prose thead {
	border-bottom-color: var(--st-colors-gray9) !important;
}
.prose tr {
	border-bottom-color: var(--st-colors-gray9) !important;
}

.prose pre {
	background: rgba(49, 46, 129, 0.25);
	border: 1px solid hsla(240, 45%, 28%, 0.8);
	border-radius: var(--st-border-radius-lg);
}

table {
	border-collapse: collapse;
}

/* Light */
.light .prose p {
	color: var(--st-colors-dark7);
}
.light .prose h1 {
	color: var(--st-colors-dark9);
}
.light .prose h2 {
	color: var(--st-colors-gray8);
	font-weight: 500;
}
.light .prose h3 {
	color: var(--st-colors-gray7);
	font-weight: 500;
}
.light .prose h4 {
	color: var(--st-colors-gray6);
}
.light .prose a {
	color: var(--st-colors-primary4);
}
.light .prose code {
	color: var(--st-colors-primary4);
	background-color: hsl(240, 70%, 95%);
	padding: 0.2rem 0.4rem;
	border-radius: var(--st-border-radius-sm);
}
.light .prose pre code {
	color: inherit;
	background-color: transparent;
	padding: 0;
	border-radius: 0;
}
.prose code[hl],
.light .prose code[data-hl] {
	color: var(--st-colors-gray8);
	background-color: var(--st-colors-light6);
	font-weight: var(--st-font-weight-normal);
}

.prose code::before,
.light .prose code::after {
	content: '';
}
.light .prose blockquote {
	color: var(--st-colors-primary3);
}
.light .prose th {
	color: var(--st-colors-gray7);
}
.light .prose td {
	color: var(--st-colors-gray5);
}
.light .prose thead {
	border-bottom-color: var(--st-colors-light8) !important;
}
.light .prose tr {
	border-bottom-color: var(--st-colors-light8) !important;
}

.light .prose pre {
	background: var(--st-md-code-pre);
}
